<ion-header class="ion-no-border"> <!-- ion-no-border to remove shadow-->
  <ion-toolbar>
    <ion-title>Select level</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- if dynamic-->
    <ion-item lines="none" *ngFor="let level of levels; let i = index">
      <div class="center-button">
        <ion-button color="{{level.color}}" [routerLink]="['/','level', level.id]">
          <ion-text>
            <h3>{{ level.title }}</h3>
            <p> {{ levelProgress(i) }}/{{ progress[i].length }} 100%</p> <!-- CONTINUE HERE, maybe use method to display level progres?? HMm-->
          </ion-text>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
