<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="select-level"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="logoSet">{{ logoSet.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="logoSet">
    <ion-row class="ion-justify-content-center" >
      <ion-col size="3" class="ion-margin" *ngFor="let logo of logoSet.logo; let i = index">
        <ion-img
          [src]="logo.img"
          [routerLink]="['/', 'logo', logoSet.logosId, i]"
          >
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
