ion-header{
  background-color: #AA9183;
  text-align: center;
  min-height: 64px; // increase height of top bar
  padding-top: 6px; // so text will be centered
  ion-toolbar {
    color: white;
    --background: #AA9183;
  }
}

.overlay {
  width: 100%;
  height: 35px;
  z-index: 99;
  color: rgb(83, 204, 43);
  pointer-events: none; // so icon can be clicked and logo will load
  position: absolute;
  top: 40%;
}

.reduced-opacity {
  opacity: 0.65;
}
