<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="select-level"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="logoSet">{{ logoSet.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="logoSet">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" *ngFor="let logo of logoSet.logo; let i = index" style="margin-bottom: 16px; margin-top:16px">
        <div [ngClass]="{'reduced-opacity': progress[levelId-1][i].status}">
          <ion-img
            [src]="logo.img"
            [routerLink]="['/', 'logo', logoSet.logosId, i]"
          >
          </ion-img>
          <ion-icon
            *ngIf="progress && progress[levelId-1][i].status"
            name="checkmark-circle"
            class="overlay"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
