<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="select-level"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="logoSet">{{ logoSet.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="logoSet">
    <ion-row class="ion-justify-content-center" >
      <ion-col size="3" class="ion-margin" *ngFor="let logo of logoSet.logo; let i = index">
        <div [ngClass]="{'reduced-opacity': progress[levelId-1][i].status}"> <!-- CONTINUE HERE, DYNAMICALLY SET IMAGE TO OPAQUE IF STATUE = TRUE -->
          <ion-img
            [src]="logo.img"
            [routerLink]="['/', 'logo', logoSet.logosId, i]"
          >
          </ion-img>
          <ion-icon *ngIf="progress && progress[levelId-1][i].status" name="checkmark-circle" class="overlay"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
