<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="level"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>logo</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="logo">
  <ion-img [src]="logo.img" class="ion-margin"></ion-img>

  <ion-input
    *ngIf="!status"
    type="text"
    inputmode="text"
    autofocus="true"
    clearInput="true"
    placeholder="Input answer here"
    [(ngModel)]="input"
    (ionChange)="onChangeInput()"
    >
  </ion-input>
  <ion-text class="ion-margin" *ngIf="status === true">
    <h1>You got it!</h1>
  </ion-text>
</ion-content>
